.home-img{
  width: 100%;
  height: 600px;
}
.img-text-div{
  position: absolute;
  text-transform: inherit;
  bottom: 70px;
  left: 100px;
  width: 800px;
}
.main-text{
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  letter-spacing: 4px;
  line-height: 1.2;
  color: #fff;
}
.sub-text{
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}
.shop-btn{
  background-color: black;
  color: #fff;
  width: 130px;
  text-transform: uppercase;
  letter-spacing: 2px;
  //margin-right: 20px;
}
.second-section-header{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 14px;
}
.second-section-header-two{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.section-text{
  font-size: 20px;
  text-transform: uppercase;
}
.line{
  width: 35px;
  height: 2px;
  background-color: black;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.product-text{
  font-size: 31px;
  text-transform: uppercase;
}
.component__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}
.component__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  max-width: 236px;
  background-color: #ffffff;
  margin: 1em;
}
.section{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.third-section{
  display: flex;
  height: 245px;
  background-color: #edf4fc;
  padding: 10px;
  justify-content: center;
  margin-top: 50px;
}
.section-div{
  //background-color: #ffffff;
  width: 340px;
  height: 170px;
  padding: 35px;
}
.div{
  display: flex;
  justify-content: center;
}
.text-title{
  text-align: center;
  font-size: 25px;
  margin: 10px;
  font-weight: 500;
  color: rgb(90 90 90 / 64%);
}
.text-description{
  text-align: center;
  font-size: 14px;
  margin: 10px;
  color: rgb(90 90 90 / 58%);
}
.icon-div{
  font-size: 40px !important;
}
.icon{
  font-size: 40px !important;
  color: rgb(90 90 90 / 95%);
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.mat-grid-tile {
  //background: lightblue;
}
.section-header{
  display: block;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.women-product-text{
  display: flex;
  justify-content: center;
  font-size: 31px;
  text-transform: uppercase;
}
.grid{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  flex-wrap: wrap;
}
.component__grid-two{
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

}
.mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.section-two{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: contents;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.girl-img{
  top: 143px;
  height: 937px;
  position: absolute;
  right: 47px;
}
.btn-div{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.second-section-header-two{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.section-text{
  font-size: 20px;
  text-transform: uppercase;
}
.line{
  width: 35px;
  height: 2px;
  background-color: black;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.product-text{
  font-size: 31px;
  text-transform: uppercase;
}
.component__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}
.component__container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 50%;
  max-width: 1236px;
  background-color: #ffffff;
  margin: 1em;
}
.section{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.text-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}
.details-text{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 600px;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
}
.section-service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card-div{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
.card-service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #edf4fc;
  width: 250px;
  height: 388px;
  margin: 20px;
}
.card-service:hover{
  transform: translateY(-10px);
}
.card-title{
  display: flex;
  justify-content: center;

}
.title-txt{
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}
.img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  //margin: 15px;
}
.lable-txt{
  display: flex;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
  //width: 400px;
}
.service-description{
  display: flex;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
  width: 720px;
  margin-bottom: 30px;
}
.project-section{
  height: 710px;
  width: 100%;
  background-color: #224366;
  margin-top:70px;
}
.div-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #edf4fc;
  width: 250px;
  height: 250px;
  margin: 20px;
}
.div-project{
  margin: 76px;
  display: flex;
  justify-content: center;
}
.project-img{
  width: 300px;
  height: 350px;
  border-radius: 3%;
  margin: 20px;
}
.experiences-title{
  color: #fff;
  margin-top: 50px;
  font-size: 37px;

}
.experiences-subtitle{
  color: #ffffff;
  font-size: 20px;
}
.contact-section{
  height: 600px;
  width: 100%;
  //margin-top:70px;
}
.contact-div{
  display: flex;
}
.div-line{
  margin-left: 50px;
}

.contact-title{
  margin: 100px 0 0 0;
  font-size: 45px;
  color: #224366;
}
.contact-sub-title{
  margin: 30px 0 0 0;
  font-size: 22px;
  width: 600px;
  line-height: 40px;
}
.contact-btn{
  margin-top: 50px;
}
.contact-div-two{
  margin-top: 35px;
  margin-left: 90px;
  padding: 20px;
}
.contact-card{
  width: 446px;
  //height: 499px;
  padding: 40px;
}
.inputText {
  margin: 15px 0 0 0;
  color: #8b8b8b;
  font-size: 15px;
  font-family: 'Arial';
  font-weight: normal;
  cursor: default;
}
.inputBox {
  width: 100%;
  height: 28px;
  background-color: #ffffff;
  z-index: 2;
  border: 2px solid #d0cfcf;
}
.MessageBox {
  width: 100%;
  height: 100px;
  max-height: 118px;
  background-color: #ffffff;
  z-index: 2;
  border: 2px solid #d0cfcf;
  top: 41%;
  left: 8%;
}
