<!------------- navbar----------------------->
<div>
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-two">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/image/dark.png" class="logo">
      <span class="menu-spacer"></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <span class="example-spacer"></span>
        <a href="#home" class="header-text">Home </a>
        <a href="#aboutus" class="header-text">About Us </a>
        <a href="#service" class="header-text">Service</a>
        <a href="#contact" class="header-text">Contact</a>
        <button mat-raised-button class="ac-btn"><a class="qt-btn" href="mailto:chapachandi23@gmail.com">Get Quotation</a></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a href="#home" mat-list-item>Home</a>
        <a href="#aboutus" mat-list-item>About Us</a>
        <a href="#service" mat-list-item>Services</a>
        <a href="#contact" mat-list-item>Contact</a>
        <button mat-raised-button class="ac-btn"><a class="qt-btn" href="mailto:chapachandi23@gmail.com">Get Quotation</a></button>
      </mat-nav-list>
    </mat-sidenav>

    <button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
      <mat-icon class="up-arrow-icon">arrow_upward</mat-icon>
    </button>

    <!-------------home section------------------->
    <div>
      <div id="home" class="home-section">

        <img src="assets/image/Desktop.png" class="home-img" >
        <div class="img-text-div">
          <h1 class="main-text">Unleashing Technology for Unparalleled Results</h1>
          <h4 class="sub-text">Transform your business with our immediate software solutions. Contact us to see how we can help you today.</h4>
          <button mat-raised-button class="shop-btn"><a class="qt-btn" href="#contact" mat-list-item>Contact Us</a></button>
        </div>
      </div>
      <!------------about us section-------------->
      <div id="aboutus">
        <div class="second-section-header">
          <span class="line"></span>
          <span class="section-text">About Us</span>
          <span class="line"></span>
        </div>
        <div class="second-section-header-two">
          <h2 class="product-text">Advancing with cutting-edge innovation technology</h2>
        </div>
        <div class="details-div">
          <div class="text-div">
            <label class="details-text">Our mission is to empower creators with cutting-edge technology by delivering
              innovative software solutions. Our team of highly-educated professionals combines expert knowledge and
              fresh ideas to create seamless user experiences.
              <br/>
              <br/>
              At Avacdro, our vision is to continually evolve and innovate through the acquisition of new knowledge
              and the implementation of advanced technology. We are dedicated to seeking out the latest advancements
              in software, incorporating them into our solutions, and gaining a deep understanding of their value to
              drive progress forward.
            </label>
          </div>

        </div>
      </div>
      <!--------------------------->
      <div>
        <div class="third-section">
          <div class="section-div">
            <div class="div">
              <span class="text-title">Innovation</span>
            </div>
            <div class="div">
          <span class="text-description">
            At Avacdro, we strive to drive innovation, creativity, and diversity in the digital solution market.
            Our aim is to build comprehensive digital ecosystems that will elevate your business to new heights of
            efficiency and success</span>
            </div>
          </div>
          <!---->
          <div class="section-div">
            <div class="div">
              <span class="text-title">Creating Value</span>
            </div>
            <div class="div">
          <span class="text-description">
           Our goal at Avacdro is to deliver the most up-to-date digital methods and software solutions tailored to the
            specific needs of each client and business that partners with us. We are committed to elevating our
            clients' operations through our expertise in providing the software they need to reach their full potential.
          </span>
            </div>
          </div>
          <!---->
          <div class="section-div">
            <div class="div">
              <span class="text-title">People-focused</span>
            </div>
            <div class="div">
          <span class="text-description">
            At Avacdro we recognise the diversity, creativity and effort of each and every person in our organisation.
            We believe in open communication and teamwork. We are stronger when we are together.</span>
            </div>
          </div>
        </div>
      </div>
      <!----------------services--------------------->
      <div id="service">
        <div class="second-section-header">
          <span class="line"></span>
          <span class="section-text">Our Services</span>
          <span class="line"></span>
        </div>
        <div class="second-section-header-two">
          <h2 class="product-text">We bring your business forward</h2>
        </div>
        <div class="div">
          <span class="service-description">
           Contact us for expert website design and eCommerce solutions. Share your vision and let us tailor the
            perfect fit for your business needs.
          </span>
        </div>
      </div>
      <div class="card-div">
        <mat-card class="card-service" *ngFor="let data of dataSource">
          <img src="{{data.img}}}" class="img">
          <div class="card-title">
            <h1 class="title-txt">{{data.title}}</h1>
          </div>
          <div>
            <label class="lable-txt">
              {{data.description}}
            </label>
          </div>
        </mat-card>
      </div>
      <!----------------project--------------------->
      <div class="project-section" id="project">
        <div class="div-section">
          <h1 class="experiences-title">Strategically engineered digital experiences for optimal performance</h1>
          <h3 class="experiences-subtitle">Our success is measured by the results we deliver for our clients.</h3>
        </div>
<!------------------------------------------------------->
        <div class="container">
          <div class="card">
            <figure class="card__thumb">
              <img src="assets/image/web.jpg" alt="Picture by Kyle Cottrell" class="card__image">
              <figcaption class="card__caption">
                <h2 class="card__title">Web Application</h2>
                <p class="card__snippet">Web applications include online forms, shopping carts, word processors,
                  spreadsheets, video and photo editing, file conversion, file scanning, and email programs such as Gmail,
                  Yahoo and AOL. Popular applications include Google Apps and Microsoft 365.</p>
                <a href="" class="card__button">Read more</a>
              </figcaption>
            </figure>
          </div>

          <div class="card">
            <figure class="card__thumb">
              <img src="assets/image/ds3.jpg" alt="Picture by Nathan Dumlao" class="card__image">
              <figcaption class="card__caption">
                <h2 class="card__title">Desktop Application</h2>
                <p class="card__snippet">A desktop application is a software program that can be run on a standalone
                  computer to perform a specific task by an end-user. Some desktop applications such as word editor,
                  photo editing app and media player allow you to perform different tasks while other such as gaming
                  apps are developed purely for entertainment.</p>
                <a href="" class="card__button">Read more</a>
              </figcaption>
            </figure>
          </div>

          <div class="card">
            <figure class="card__thumb">
              <img src="assets/image/mb3.jpg" alt="Picture by Daniel Lincoln" class="card__image">
              <figcaption class="card__caption">
                <h2 class="card__title">Mobile Application</h2>
                <p class="card__snippet">A mobile application, most commonly known as an app, is a kind of application
                  software intended to run on a mobile phone, for example, a smartphone or tablet PC. Mobile applications
                  often serve to furnish clients with comparable administrations to those got on PCs</p>
                <a href="" class="card__button">Read more</a>
              </figcaption>
            </figure>
          </div>
        </div>



<!------------------------------------------------------->
<!--        <div class="div-project">-->
<!--          <div class="flip-card">-->
<!--            <div class="flip-card-inner">-->
<!--              <div class="flip-card-front">-->
<!--                <img src="assets/image/web.jpg" class="project-img">-->
<!--              </div>-->
<!--              <div class="flip-card-back">-->
<!--                <h1 class="p-header">Laboratory Management System</h1>-->
<!--                <p class="p-details">This project developed for Health Lab.This System manage some business processes in-->
<!--                  Lab.-->
<!--                  This project included log in, patient registration, booking date-->
<!--                  and time, accept patient requests and checkout payments and-->
<!--                  print the bill, add samples, add patients test, create patient test-->
<!--                  report and print reports, check all history.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="flip-card">-->
<!--            <div class="flip-card-inner">-->
<!--              <div class="flip-card-front">-->
<!--                <img src="assets/image/ds3.jpg" class="project-img">-->
<!--              </div>-->
<!--              <div class="flip-card-back">-->
<!--                <h1 class="p-header">Easy Car Rental Management System</h1>-->
<!--                <p class="p-details">This System manage some business-->
<!--                  processes in Car Rental Place. This project included User Part,-->
<!--                  Admin Part and Driver Part.-->
<!--                  User can Log in or sign up, view car detail and rent a car, Admin-->
<!--                  can add remove update search cars and drivers. View customer-->
<!--                  details and accept customer request. Driver can log in the system-->
<!--                  and check schedule.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="flip-card">-->
<!--            <div class="flip-card-inner">-->
<!--              <div class="flip-card-front">-->
<!--                <img src="assets/image/mb3.jpg" class="project-img">-->
<!--              </div>-->
<!--              <div class="flip-card-back">-->
<!--                <h1 class="p-header">Cloth Shop ECommerce System</h1>-->
<!--                <p class="p-details">This project developed for Cloth Shop. Create account, log in and-->
<!--                  update account, View Products and detail, Search product, Add-->
<!--                  to cart solutions, view cart solutions, Remove cart items,-->
<!--                  checkout select products, and calculate subtotals, Are included-->
<!--                  this project</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <!----------------contact--------------------->
      <div class="contact-section" id="contact">
        <div class="contact-div">
          <div class="div-line">
            <h1 class="contact-title">Let's discuss how to elevate your product to the next level.</h1>
            <h4 class="contact-sub-title">We are passionate about engaging with new clients and our community.
              Let's collaborate to bring your digital product to life. Don't hesitate to contact us for any questions
              or advice on building digital products.
            </h4>
            <!--        <button mat-raised-button class="shop-btn contact-btn">contact us</button>-->
          </div>
          <div class="contact-div-two">
            <mat-card class="contact-card">
              <h1 class="Sec10Header">Contact us</h1>
              <form action="https://formsubmit.co/88517c43531d67fe463d3a7eb519387a" method="POST">
                <div class="contact__content">
                  <label class="contact__label">Full Name*</label>
                  <input type="text" name="name" class="contact__inputs" id="name" required>
                </div>
                <div class="contact__content">
                  <label class="contact__label">Email*</label>
                  <input type="email" class="contact__inputs" id="email" required>
                </div>
                <div class="contact__content">
                  <label class="contact__label">Message*</label>
                  <textarea name="message" cols="0" rows="7" class="contact__inputs" id="message"></textarea>
                </div>
                <button mat-raised-button class="shop-btn contact-btn">Submit</button>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
      <!--  ------ footer ---------------------------->
      <div>
        <app-footer class="card_ft"></app-footer>
      </div>

    </div>
  </mat-sidenav-container>

</div>
