<!------------- navbar----------------------->
<div>
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-two">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/icon/Avacdro_logo.png" class="logo">
      <span class="menu-spacer"></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <span class="example-spacer"></span>
        <a href="#home" class="header-text">Home </a>
        <a href="#aboutus" class="header-text">About Us </a>
        <a href="#service" class="header-text">Service</a>
        <a href="#contact" class="header-text">Contact</a>
        <button mat-raised-button class="ac-btn">Get Quotation</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a href="#" mat-list-item>Home</a>
        <a href="#" mat-list-item>About Us</a>
        <a href="#" mat-list-item>Services</a>
        <a href="#" mat-list-item>Contact</a>
        <button mat-raised-button class="ac-btn">Get Quotation</button>
      </mat-nav-list>
    </mat-sidenav>

    <button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
      <mat-icon class="up-arrow-icon">arrow_upward</mat-icon>
    </button>

    <!-------------home section------------------->
    <div>
      <div id="home" class="home-section">
        <img src="assets/image/Home-Page-banner-scaled.jpg" class="home-img">
        <div class="img-text-div">
          <h1 class="main-text">We’re Most Powerful Software Solution & Engineering Company</h1>
          <h4 class="sub-text">Do you wanna any software solution for your own business, we can help you immediately so contact us </h4>
          <button mat-raised-button class="shop-btn">contact us</button>
        </div>
      </div>
      <!------------about us section-------------->
      <div id="aboutus">
        <div class="second-section-header">
          <span class="line"></span>
          <span class="section-text">About Us</span>
          <span class="line"></span>
        </div>
        <div class="second-section-header-two">
          <h2 class="product-text">moving forward with grow in innovation technology</h2>
        </div>
        <div class="details-div">
          <div class="text-div">
            <label class="details-text">Our company's mission is to open doors to technology by building new designs
              for new creators. We have a team of educated professionals who are enriched with dedicated knowledge and
              new ideas to enable users to interact with the software well
              <br/>
              <br/>
              Our vision is to grow and advance with new knowledge and new technology day after day. For that purpose,
              Avacdro is searching for new knowledge, making new software related to it and filing experiences to
              understand its importance
            </label>
          </div>

        </div>
      </div>
      <!--------------------------->
      <div>
        <div class="third-section">
          <div class="section-div">
            <div class="div">
              <span class="text-title">Creating Value</span>
            </div>
            <div class="div">
          <span class="text-description">
           Our company's goals are to provide the latest digital methods and software to every client and every company
            that joins us to meet their needs exactly as they want. Our company is dedicated to bring the software needed
            for their business to the maximum level by using our experience
          </span>
            </div>
          </div>
          <!---->
          <div class="section-div">
            <div class="div">
              <span class="text-title">Innovation</span>
            </div>
            <div class="div">
          <span class="text-description">
            We want to innovate, create and bring diversity to the digital solution market. We are working towards
            creating entire digital ecosystems that will help your business reach a whole new level of efficiency.</span>
            </div>
          </div>
          <!---->
          <div class="section-div">
            <div class="div">
              <span class="text-title">People-focused</span>
            </div>
            <div class="div">
          <span class="text-description">
            At Avacdro we recognise the diversity, creativity and effort of each and every person in our organisation.
            We believe in open communication and teamwork. We are stronger when we are together.</span>
            </div>
          </div>
        </div>
      </div>
      <!----------------services--------------------->
      <div id="service">
        <div class="second-section-header">
          <span class="line"></span>
          <span class="section-text">Our Services</span>
          <span class="line"></span>
        </div>
        <div class="second-section-header-two">
          <h2 class="product-text">We bring your business forward</h2>
        </div>
        <div class="div">
          <span class="service-description">
            Call us for any questions related to website design or eCommerce website design.
            It’s important that you feel comfortable to discuss your thought and ideas about your project. That way,
            we can known more about your business and to identify the best solutions which fits your business needs.
          </span>
        </div>
      </div>
      <div class="card-div">
        <mat-card class="card-service" *ngFor="let data of dataSource">
          <img src="{{data.img}}}" class="img">
          <div class="card-title">
            <h1 class="title-txt">{{data.title}}</h1>
          </div>
          <div>
            <label class="lable-txt">
              {{data.description}}
            </label>
          </div>
        </mat-card>
      </div>
      <!----------------project--------------------->
      <div class="project-section" id="project">
        <div class="div-section">
          <h1 class="experiences-title">Digital Experiences Strategically Engineered To Perform</h1>
          <h3 class="experiences-subtitle">We measure our success by the results we drive for our clients</h3>
        </div>
        <div class="div-project">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/image/pr.png" class="project-img">
              </div>
              <div class="flip-card-back">
                <h1 class="p-header">Laboratory Management System</h1>
                <p class="p-details">This project developed for Health Lab.This System manage some business processes in
                  Lab.
                  This project included log in, patient registration, booking date
                  and time, accept patient requests and checkout payments and
                  print the bill, add samples, add patients test, create patient test
                  report and print reports, check all history.
                </p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/image/pr2.png" class="project-img">
              </div>
              <div class="flip-card-back">
                <h1 class="p-header">Easy Car Rental Management System</h1>
                <p class="p-details">This System manage some business
                  processes in Car Rental Place. This project included User Part,
                  Admin Part and Driver Part.
                  User can Log in or sign up, view car detail and rent a car, Admin
                  can add remove update search cars and drivers. View customer
                  details and accept customer request. Driver can log in the system
                  and check schedule.</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/image/pr3.png" class="project-img">
              </div>
              <div class="flip-card-back">
                <h1 class="p-header">Cloth Shop ECommerce System</h1>
                <p class="p-details">This project developed for Cloth Shop. Create account, log in and
                  update account, View Products and detail, Search product, Add
                  to cart solutions, view cart solutions, Remove cart items,
                  checkout select products, and calculate subtotals, Are included
                  this project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!----------------contact--------------------->
      <div class="contact-section" id="contact">
        <div class="contact-div">
          <div class="div-line">
            <h1 class="contact-title">Let's talk about your product</h1>
            <h4 class="contact-sub-title">We love engaging with new clients and our community. If you have an inquiry
              about building digital products
              or any other questions, get in touch!
            </h4>
            <!--        <button mat-raised-button class="shop-btn contact-btn">contact us</button>-->
          </div>
          <div class="contact-div-two">
            <mat-card class="contact-card">
              <h1 class="Sec10Header">Contact us</h1>
              <form action="">
                <div class="contact__content">
                  <label class="contact__label">Full Name*</label>
                  <input type="text" name="name" class="contact__inputs" id="name" required>
                </div>
                <div class="contact__content">
                  <label class="contact__label">Email*</label>
                  <input type="email" class="contact__inputs" id="email" required>
                </div>
                <div class="contact__content">
                  <label class="contact__label">Message*</label>
                  <textarea name="message" cols="0" rows="7" class="contact__inputs" id="message"></textarea>
                </div>
                <button mat-raised-button class="shop-btn contact-btn">Submit</button>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
      <!--  ------ footer ---------------------------->
      <div>
        <app-footer class="card"></app-footer>
      </div>

    </div>
  </mat-sidenav-container>

</div>
