<div>
  <div>
    <img src="assets/image/Home-Page-banner-scaled.jpg" class="home-img">
    <div class="img-text-div">
      <h1 class="main-text">We’re a Global Enterprise Digital Product Engineering Company</h1>
<!--      <h1 class="enjoy-text">We’re a Global Enterprise Digital Product Engineering Company</h1>-->
      <h4 class="sub-text">Your Technology Partner for Custom Software Development & Digital Transformation</h4>
      <button mat-raised-button class="shop-btn">contact us</button>
    </div>
  </div>

  <div>
    <div class="third-section">
      <div class="section-div">
        <div class="div icon-div">
          <mat-icon class="icon" aria-label="Example  local_shipping icon" fontIcon=" local_shipping"></mat-icon>
        </div>
        <div class="div">
          <span class="text-title">ISLAND WIDE</span>
        </div>
        <div class="div">
          <span class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </span>
        </div>
      </div>
      <!---->
      <div class="section-div">
        <div class="div icon-div">
          <mat-icon class="icon" aria-label="Example  local_shipping icon" fontIcon=" local_shipping"></mat-icon>
        </div>
        <div class="div">
          <span class="text-title">ISLAND WIDE</span>
        </div>
        <div class="div">
          <span class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </span>
        </div>
      </div>
      <!---->
      <div class="section-div">
        <div class="div icon-div">
          <mat-icon class="icon" aria-label="Example  local_shipping icon" fontIcon=" local_shipping"></mat-icon>
        </div>
        <div class="div">
          <span class="text-title">ISLAND WIDE</span>
        </div>
        <div class="div">
          <span class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </span>
        </div>
      </div>
      <!---->
      <div class="section-div">
        <div class="div icon-div">
          <mat-icon class="icon" aria-label="Example  local_shipping icon" fontIcon=" local_shipping"></mat-icon>
        </div>
        <div class="div">
          <span class="text-title">ISLAND WIDE</span>
        </div>
        <div class="div">
          <span class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-footer></app-footer>
  </div>

</div>
