//--------------------------------
.example-spacer {
  flex: 1 1 auto;
}
.toolbar-one{
  background-color: #daffff;
}
.toolbar-two{
  background-color: #ffffff;
  box-shadow: 1px 0px 10px 2px rgb(173 204 251 / 70%);
  position: fixed;
  z-index: 4;
}
.icon{
  color: #000;
}
.logo-div{
  display: flex;
  justify-content: center;
}
.logo{
  width: 210px;
  //height: 50px;
  //margin-left: 68px;
  cursor: pointer;
}
.ac-btn{
  background-color: black;
  color: #fff;
  margin-left: 20px;
  //margin-right: 20px;
  border-radius: 0;
}
.header-text{
  color: #2b2b2b;
  margin-right: 30px;
  //text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
}
.header-text:hover{
  color: #1c9de2;
  text-shadow: #7bcffc;
}
.badge{
  margin-left: 5px;
}
#toggle{
  text-align: right;
  cursor: pointer;
  display: none;
}
//--------------------------------
.mat-icon{
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: flex !important;
  fill: currentColor;
  height: 40px;
  width: 40px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.top-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  z-index: 99 !important;
  cursor: pointer;
  background-color: #dbecff;
  border: none;
}
.up-arrow-icon{
  color: #0c6ce3;
}
//--------------------------------
.home-section{
  position: relative;
}
.home-img{
  width: 100%;
  height: 600px;
}
.img-text-div{
  position: absolute;
  text-transform: inherit;
  bottom: 17%;
  //left: 100px;
  width: 800px;
  padding: 24px;
}
.main-text{
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  letter-spacing: 4px;
  line-height: 1.2;
  color: #fff;
}
.sub-text{
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}
.shop-btn{
  background-color: black;
  color: #fff;
  width: 130px;
  text-transform: uppercase;
  letter-spacing: 2px;
  //margin-right: 20px;
}
.second-section-header{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 14px;
}
.second-section-header-two{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.section-text{
  font-size: 20px;
  text-transform: uppercase;
}
.line{
  width: 35px;
  height: 2px;
  background-color: black;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.product-text{
  font-size: 31px;
  text-transform: uppercase;
}
.component__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}
.component__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  max-width: 236px;
  background-color: #ffffff;
  margin: 1em;
}
.section{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.third-section{
  display: flex;
  height: 245px;
  background-color: #edf4fc;
  padding: 10px;
  justify-content: center;
  margin-top: 50px;
}
.section-div{
  //background-color: #ffffff;
  width: 340px;
  height: 170px;
  padding: 35px;
}
.div{
  display: flex;
  justify-content: center;
}
.text-title{
  text-align: center;
  font-size: 25px;
  margin: 10px;
  font-weight: 500;
  color: rgb(90 90 90 / 64%);
}
.text-description{
  text-align: center;
  font-size: 14px;
  margin: 10px;
  color: rgb(90 90 90 / 58%);
}
.icon-div{
  font-size: 40px !important;
}
.icon{
  font-size: 40px !important;
  color: rgb(90 90 90 / 95%);
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.mat-grid-tile {
  //background: lightblue;
}
.section-header{
  display: block;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.women-product-text{
  display: flex;
  justify-content: center;
  font-size: 31px;
  text-transform: uppercase;
}
.grid{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  flex-wrap: wrap;
}
.component__grid-two{
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

}
.mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.section-two{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: contents;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.girl-img{
  top: 143px;
  height: 937px;
  position: absolute;
  right: 47px;
}
.btn-div{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.second-section-header-two{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}
.section-text{
  font-size: 20px;
  text-transform: uppercase;
}
.line{
  width: 35px;
  height: 2px;
  background-color: black;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.product-text{
  font-size: 31px;
  text-transform: uppercase;
}
.component__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}
.component__container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 50%;
  max-width: 1236px;
  background-color: #ffffff;
  margin: 1em;
}
.section{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.text-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}
.details-text{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 600px;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
}
.section-service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card-div{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
.card-service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 22px;
  background-color: #edf4fc;
  width: 250px;
  height: 388px;
  margin: 20px;
}
.card-service:hover{
  transform: translateY(-10px);
}
.card-title{
  display: flex;
  justify-content: center;

}
.title-txt{
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}
.img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  //margin: 15px;
}
.lable-txt{
  display: flex;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
  //width: 400px;
}
.service-description{
  display: flex;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 28px;
  color: #4a4a4a;
  width: 720px;
  margin-bottom: 30px;
}
.project-section{
  height: 710px;
  width: 100%;
  background-color: #224366;
  margin-top:70px;
}
.div-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #edf4fc;
  width: 250px;
  height: 250px;
  margin: 20px;
}
.div-project{
  margin: 76px;
  display: flex;
  justify-content: center;
}
.project-img{
  width: 300px;
  height: 350px;
  border-radius: 3%;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border-radius: 3%;
  margin: 20px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 3%;
}

.flip-card-back {
  background-color: #fff;
  //color: #242738;
  transform: rotateY(180deg);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-family: inherit;
  color: #4a4a4a;
}
.p-header{
  font-weight: 500;
}
.p-details{
  padding: 15px;
}
.experiences-title{
  color: #fff;
  margin-top: 50px;
  font-size: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
}
.experiences-subtitle{
  color: #ffffff;
  font-size: 20px;
}
.contact-section{
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
}
.contact-div{
  display: flex;
}
.div-line{
  //margin-left: 50px;
  padding: 20px;
  width: 50%;
}

.contact-title{
  margin: 100px 0 0 0;
  font-size: 45px;
  color: #224366;
  line-height: 47px;
}
.contact-sub-title{
  margin: 30px 0 0 0;
  font-size: 22px;
  width: 600px;
  line-height: 40px;
}
.contact-btn{
  //margin-top: 50px;
}
.contact-div-two{
  margin-top: 35px;
  //margin-left: 90px;
  padding: 20px;
  width: 50%;
}
.contact-card{
  width: 95%;
  //height: 499px;
  //padding: 40px;
}
.contact__content{
  background-color: #edf4fc;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  margin-bottom: 15px;
}
.contact__label{
  font-size: 16px;
  color: #b0b0b0;
}
.contact__inputs{
  width: 100%;
  background-color: #edf4fc;
  color: #224366;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}
.inputText {
  margin: 15px 0 0 0;
  color: #8b8b8b;
  font-size: 15px;
  font-family: 'Arial';
  font-weight: normal;
  cursor: default;
}
.inputBox {
  width: 100%;
  height: 28px;
  background-color: #ffffff;
  z-index: 2;
  border: 2px solid #d0cfcf;
}
.MessageBox {
  width: 100%;
  height: 100px;
  max-height: 118px;
  background-color: #ffffff;
  z-index: 2;
  border: 2px solid #d0cfcf;
  top: 41%;
  left: 8%;
}
.details-div{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (min-width: 1px) and (max-width: 500px) {
  .ac-btn{
    margin-left: 16px;
    margin-right: 16px;
  }
  //--------------------------------
  .home-img{
    width: 100%;
    height: 401px;
  }
  .img-text-div{
    position: absolute;
    text-transform: inherit;
    bottom: 17%;
    left: 28px;
    width: 288px;
  }
  .main-text{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 4px;
    line-height: 1.2;
    color: #fff;
  }

  .sub-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
  }
//  ----------------------
  .card-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px;
    background-color: #edf4fc;
    width: 250px;
    height: 476px;
    margin: 20px;
    align-content: center;
    margin-top: 30px;

    .lable-txt{
      margin-top: 20px;
    }
  }

//-----------------------

  .product-text{
    font-size: 20px;
    padding: 10px;
  }
  .second-section-header-two{
    text-align: center;
  }
  .details-div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .text-div{
    width: 90%;
  }
  .third-section{
    display: flex;
    height: auto;
    background-color: #edf4fc;
    padding: 70px 10px 10px 10px;
    justify-content: flex-start;
    margin-top: 50px;
    flex-direction: column;
  }
  .section-div{
    width: auto;
    height: 229px;
    padding: 11px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
  }
  //-----------------------
  .div-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
  }
  .experiences-title{
    color: #fff;
    margin-top: 50px;
    font-size: 30px;
    line-height: 46px;
    font-family: inherit;
  }
  .div-project{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 67px;
  }
  .project-section{
    height: auto;
    width: 100%;
    background-color: #224366;
    margin-top: 70px;
  }
//  ---------------------------------
  .contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div-line {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .contact-div-two{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 85%;
    margin-top: 0;
  }
  .contact-card{
    width: 100%;
  }
  .contact-div-two{
    margin-left:0;
  }
  .contact-sub-title{
    width: 100%;
  }
  .div-line{
    margin: 13px;
  }
  .contact-title{
    margin: 0;
    font-size: 33px;
  }
  .contact-section{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
  }

}

//-------------- for medium devices --------------

@media screen and (min-width: 500px) and (max-width: 900px) {
  .main-text{
    font-size: 48px;
    width: 100%;
  }
  .img-text-div{
    left: 33px;
    width: 95%;
  }
  .section-div{
    width: 340px;
    height: 170px;
    padding: 23px;
  }
  // --------------------------------------
  .div-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
  }
  .experiences-title{
    color: #fff;
    margin-top: 50px;
    font-size: 37px;
    line-height: 46px;
    font-family: inherit;
  }
  .div-project{
    margin: 76px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 67px;
  }
  .project-section{
    height: auto;
    width: 100%;
    background-color: #224366;
    margin-top: 70px;
  }
  //  --------------
  .contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div-line {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-div-two{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .contact-card{
    width: 100%;
  }
  .contact-div-two{
    margin-left:0;
  }
  .contact-sub-title{
    width: 100%;
  }
  .div-line{
    margin: 13px;
  }
  .contact-title{
    margin: 0;
    font-size: 42px;
  }
  .contact-section{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
  }
}

//------------------------------------------

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .contact-title{
    margin: 100px 0 0 0;
    font-size: 42px;
    color: #224366;
  }
  .contact-card{
    width: 100%;
  }
  .contact-div-two{
    margin-top: 35px;
    margin-left: 0;
    padding: 20px;
  }
  .contact-sub-title{
    margin: 30px 0 0 0;
    font-size: 22px;
    width: 500px;
    line-height: 40px;
  }
  .project-img{
    width: 100%;
    height: auto;
    border-radius: 3%;
  }
  .flip-card-inner{
    width: 100%;
    height: auto;
  }
  .project-section{
    height: auto;
    width: 100%;
    background-color: #224366;
    margin-top: 70px;
  }

}

//-------------------------------------------------------
@media screen and (min-width: 2560px){
  .home-img{
    width: 100%;
    height: 879px;
  }
  .img-text-div{
    position: absolute;
    text-transform: inherit;
    bottom: 17%;
    left: 100px;
    width: 978px;
  }
  .div-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .contact-div{
    display: flex;
    justify-content: center;
  }
}
