<div>
  <div class="fifth-section" >
    <div class="div-card">
      <div class="brand-section-div" *ngFor="let data of cards">
        <img class="technology-icon" src="{{data.img}}" alt="cards">
      </div>
    </div>
  </div>
  <div class="footer-second-section">
    <div class="footer-div">

      <img class="img" src="assets/icon/Avacdro_logo.png" alt="logo">
<!--      <h3 class="open-text" >WE ARE OPEN TO DAILEY</h3>-->
      <h4 class="text">Avacdro is an international web & IT company.</h4><br>
      <h4 class="text">We specialize in elevating businesses to new heights of success through our expert services in
        web design, eCommerce development, software development, search engine optimization, paid advertising,
        branding and digital marketing. Let us help you achieve your business goals and stand out in today's digital
        landscape.</h4>
      <br>

    </div>
    <div class="footer-div">
      <h2 class="title">Branch</h2>
      <h4 class="text">Colombo, Sri Lanka</h4>
      <br>
      <h2 class="title">Contact</h2>
      <h4 class="text">(+94)701442819</h4>
      <h4 class="text">Info@avacfro.com</h4>
      <br>
    </div>
    <div class="vertical-line"></div>
    <div class="footer-div">
      <h3 class="title">company</h3>
      <h4 class="text">Home</h4>
      <h4 class="text">About us</h4>
      <h4 class="text">Service</h4>
      <h4 class="text">Team</h4>
      <h4 class="text">Contact us</h4>
    </div>
    <div class="footer-div">
      <h3 class="title">services</h3>
<!--      <br>-->
      <h3 class="subtitle">Software</h3>
      <h4 class="text">Software Development</h4>
      <h4 class="text">PHP Development</h4>
      <h4 class="text">Laravel Development</h4>
      <h4 class="text">C# Development</h4>
      <h4 class="text">Java Development</h4>
      <h4 class="text">API Development</h4>
      <h4 class="text">AutoCount plugin</h4>
      <h4 class="text">Mobile App Development</h4>
      <br>
      <h3 class="subtitle">Online Marketing</h3>
      <h4 class="text">Digital Marketing Services</h4>
      <h4 class="text">Search Engine Optimization(SEO)</h4>
      <h4 class="text">Google Ads/PPC</h4>
      <h4 class="text">Facebook Management</h4>
      <h4 class="text">Google Business Listing</h4>
    </div>
    <div class="footer-div">
      <br>
      <h3 class="subtitle">Web Design</h3>
      <h4 class="text">Web Development</h4>
      <h4 class="text">WordPress Development</h4>
      <h4 class="text">WordPress Plugin Development</h4>
      <h4 class="text">Virtual Tour</h4>
      <br>
      <h3 class="subtitle">Branding</h3>
      <h4 class="text">Branding Services</h4>
      <h4 class="text">Graphic Design</h4>
      <h4 class="text">Logo Design</h4>
      <h4 class="text">Copywriting Service</h4>
      <br>
      <h3 class="subtitle">Ecommerce</h3>
      <h4 class="text">Ecommerce Development</h4>
      <h4 class="text">Ecommerce Mobile App</h4>
      <h4 class="text">Payment Gateway</h4>
      <h4 class="text">Multivendor Features</h4>
    </div>
  </div>
  <div class="footer-last-section">
    <label>Copyright © Avacdro Web & Ecommerce | All Rights Reserved</label>
  </div>
</div>
